html {
  font-family: sans-serif;
  color: #333;
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 64%;
  margin: 16px auto;
  border: 1px solid #bbb;
  border-radius: 8px;
}
